                            <div class="card-footer">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group me-2">
                                        <a href="{% url 'generator:serve_portfolio' portfolio.id %}" class="btn btn-primary" target="_blank">
                                            <i class="fas fa-external-link-alt"></i> Open in New Tab
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="{% url 'generator:edit_portfolio' portfolio.id %}" class="btn btn-outline-primary">
                                            <i class="fas fa-edit"></i> Edit
                                        </a>
                                        <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                            <i class="fas fa-trash"></i> Delete
                                        </button>
                                    </div>
                                </div>
                            </div> 